@import "../scss/variables";

:root {
    --brand: hsl(172, 100%, 55%);
    --brand-hue: 172;
    --brand-saturation: 100%;
    --brand-lightness: 55%;

    --brand-light: hsl(var(--brand-hue)
    var(--brand-saturation)
    var(--brand-lightness));

    --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2-light: hsl(var(--brand-hue) 30% 30%);

    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 20% 85%);

    --surface-shadow-light: var(--brand-hue) 10% 20%;
    --shadow-strength-light: .2;

    --brand-dark: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5));

    --text1-dark: hsl(var(--brand-hue) 15% 85%);
    --text2-dark: hsl(var(--brand-hue) 5% 65%);

    --surface1-dark: hsl(var(--brand-hue) 10% 10%);
    --surface2-dark: hsl(var(--brand-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-hue) 5%  20%);
    --surface4-dark: hsl(var(--brand-hue) 5% 25%);

    --surface-shadow-dark: var(--brand-hue) 50% 3%;
    --shadow-strength-dark: .8;


    --brand-dim: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 1.25)
    calc(var(--brand-lightness) / 1.25));

    --text1-dim: hsl(var(--brand-hue) 15% 75%);
    --text2-dim: hsl(var(--brand-hue) 10% 61%);

    --surface1-dim: hsl(var(--brand-hue) 10% 20%);
    --surface2-dim: hsl(var(--brand-hue) 10% 25%);
    --surface3-dim: hsl(var(--brand-hue) 5%  30%);
    --surface4-dim: hsl(var(--brand-hue) 5% 35%);

    --surface-shadow-dim: var(--brand-hue) 30% 13%;
    --shadow-strength-dim: .2;


    --error: #b00020;
    --on-error: #($color-text-default);

    --br: 0.25rem;

    --space-xxs: .25rem;
    --space-xs:  .5rem;
    --space-sm:  1rem;
    --space-md:  1.5rem;
    --space-lg:  2rem;
    --space-xl:  3rem;
    --space-xxl: 6rem;
    --opacity-hover: 0.5;

    --shadow-base: 0 0 0;

    --shadow-1:  rgb(var(--shadow-base)/ 26%);
    --shadow-2: rgb(var(--shadow-base) / 28%);
    --shadow-3: rgb(var(--shadow-base) / 22%);

    --min-card-width: 300px;
    background-color: var(--surface1);
    color: var(--text1);

    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}
// source; https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: background 750ms !important;
  transition-delay: 0 !important;
}
body, html {
    width: 100%;
    * {
        border-radius: var(--br);
    }
}
[data-theme="light"] {
    color-scheme: light;
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }
  [data-theme="dark"] {
      color-scheme: dark;

      --brand: var(--brand-dark);
      --text1: var(--text1-dark);
      --text2: var(--text2-dark);
      --surface1: var(--surface1-dark);
      --surface2: var(--surface2-dark);
      --surface3: var(--surface3-dark);
      --surface4: var(--surface4-dark);
      --surface-shadow: var(--surface-shadow-dark);
      --shadow-strength: var(--shadow-strength-dark);
  }
  [data-theme="dim"] {
    color-scheme: dark;

    --brand: var(--brand-dim);
    --text1: var(--text1-dim);
    --text2: var(--text2-dim);
    --surface1: var(--surface1-dim);
    --surface2: var(--surface2-dim);
    --surface3: var(--surface3-dim);
    --surface4: var(--surface4-dim);
    --surface-shadow: var(--surface-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
}

@mixin surface1 {
    background-color: var(--surface1);
    color: var(--text2);
}

@mixin surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

@mixin surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

@mixin surface4 {
  background-color: var(--surface4)!important;
  color: var(--text1)!important;
}
.surface1 {
    @include surface1;
}
.surface2 {
    @include surface2;
}
.surface3 {
    @include surface3;
}
.surface4 {
    @include surface4;
}

main {
    display: grid;
    gap: var(--space-xl);
    place-content: center;
    padding: var(--space-sm);
    height: 100vh;
    @media screen and (min-width: 540px) {
        padding: var(--space-lg);
    }
    @media screen and (min-width: 800px) {
        padding: var(--space-xl);
   }

    .container {
        margin: auto;
    }
}
.padding-0 {
    padding: 0;
}


/* tutorial: https://www.joshwcomeau.com/animation/3d-button/ */
$btn-bd-rad: 0.75rem;
/* source */
$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$pink-hsl: 0 100% 96%;
$pink-hsl-l-base: 96%;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;
.test {
    .pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Likely future */
        -webkit-tap-highlight-color: transparent;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(
            to left,
            hsl($pink-hsl) 0%,
            hsl(0 100% 82%) 8%,
            hsl(0 100% 82%) 92%,
            hsl(0 100% 80%) 100%
        );
    }
    .front {
        display: block;
        border: 1px solid $dark-pink;
        position: relative;
        padding: 12px 42px;
        border-radius: 12px;
        font-size: 1.25rem;
        font-weight: 600;
        -webkit-text-stroke: 1px hsla(243, 60%, 60%, 1);
        -webkit-text-fill-color: hsla(243, 60%, 60%, 0.75);
        letter-spacing: 0.25ch;
        background: hsl(0 100% 96%);

        will-change: transform;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }
    .pushable:hover {
        filter: brightness(120%);
    }
    .pushable:hover .front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
    .pushable:hover .shadow {
        transform: translateY(4px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }
    .pushable:active .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }
    .pushable:focus:not(:focus-visible) {
        outline: none;
    }
}