@import "../scss/variables";

:root {
    --brand: hsl(172, 100%, 55%);
    --brand-hue: 172;
    --brand-saturation: 100%;
    --brand-lightness: 55%;

    --brand-light: hsl(var(--brand-hue)
    var(--brand-saturation)
    var(--brand-lightness));

    --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2-light: hsl(var(--brand-hue) 30% 30%);

    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 20% 85%);

    --surface-shadow-light: var(--brand-hue) 10% 20%;
    --shadow-strength-light: .2;

    --brand-dark: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5));

    --text1-dark: hsl(var(--brand-hue) 15% 85%);
    --text2-dark: hsl(var(--brand-hue) 5% 65%);

    --surface1-dark: hsl(var(--brand-hue) 10% 10%);
    --surface2-dark: hsl(var(--brand-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-hue) 5%  20%);
    --surface4-dark: hsl(var(--brand-hue) 5% 25%);

    --surface-shadow-dark: var(--brand-hue) 50% 3%;
    --shadow-strength-dark: .8;


    --brand-dim: hsl(
    var(--brand-hue)
    calc(var(--brand-saturation) / 1.25)
    calc(var(--brand-lightness) / 1.25));

    --text1-dim: hsl(var(--brand-hue) 15% 75%);
    --text2-dim: hsl(var(--brand-hue) 10% 61%);

    --surface1-dim: hsl(var(--brand-hue) 10% 20%);
    --surface2-dim: hsl(var(--brand-hue) 10% 25%);
    --surface3-dim: hsl(var(--brand-hue) 5%  30%);
    --surface4-dim: hsl(var(--brand-hue) 5% 35%);

    --surface-shadow-dim: var(--brand-hue) 30% 13%;
    --shadow-strength-dim: .2;


    --error: #b00020;
    --on-error: #($color-text-default);

    --br: 0.25rem;

    --space-xxs: .25rem;
    --space-xs:  .5rem;
    --space-sm:  1rem;
    --space-md:  1.5rem;
    --space-lg:  2rem;
    --space-xl:  3rem;
    --space-xxl: 6rem;
    --opacity-hover: 0.5;

    --shadow-base: 0 0 0;

    --shadow-1:  rgb(var(--shadow-base)/ 26%);
    --shadow-2: rgb(var(--shadow-base) / 28%);
    --shadow-3: rgb(var(--shadow-base) / 22%);

    --min-card-width: 300px;
    background-color: var(--surface1);
    color: var(--text1);

    font-family: system-ui, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}
// source; https://mwichary.medium.com/dark-theme-in-a-day-3518dde2955a
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: background 750ms !important;
  transition-delay: 0 !important;
}
body, html {
    width: 100%;
    * {
        border-radius: var(--br);
    }
}
[data-theme="light"] {
    color-scheme: light;
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
  }
  [data-theme="dark"] {
      color-scheme: dark;

      --brand: var(--brand-dark);
      --text1: var(--text1-dark);
      --text2: var(--text2-dark);
      --surface1: var(--surface1-dark);
      --surface2: var(--surface2-dark);
      --surface3: var(--surface3-dark);
      --surface4: var(--surface4-dark);
      --surface-shadow: var(--surface-shadow-dark);
      --shadow-strength: var(--shadow-strength-dark);
  }
  [data-theme="dim"] {
    color-scheme: dark;

    --brand: var(--brand-dim);
    --text1: var(--text1-dim);
    --text2: var(--text2-dim);
    --surface1: var(--surface1-dim);
    --surface2: var(--surface2-dim);
    --surface3: var(--surface3-dim);
    --surface4: var(--surface4-dim);
    --surface-shadow: var(--surface-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
}
@mixin hover-brighten {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}
@mixin hover-darken{
    box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.3);
}
@mixin hover-filter-light {
    filter: brightness(120%)
}
@mixin primary {
    color: var(--brand)!important;
    background-color: var(--brand)!important;
}
.brand {
    @include primary;
}
.text1 {
    color: var(--text1)
}

p.text1 {
    font-weight: 200
}

.text2 {
    color: var(--text2);
}
@mixin surface1 {
    background-color: var(--surface1);
    color: var(--text2);
}

@mixin surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

@mixin surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

@mixin surface4 {
  background-color: var(--surface4)!important;
  color: var(--text1)!important;
}
.surface1 {
    @include surface1;
}
.surface2 {
    @include surface2;
}
.surface3 {
    @include surface3;
}
.surface4 {
    @include surface4;
}
@mixin elevation-4 {
    box-shadow: 0 2px 5px var(--shadow-1);
}
@mixin elevation-2 {
    box-shadow: 0 3px 1px -2px var(--shadow-1),
    0 2px 2px 0 var(--shadow-2),
    0 1px 5px 0 var(--shadow-3);
}
@mixin hide-scrollbar {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }
}
h1,h2,h3 {
    margin: 0;
    font-weight: 500;
}
main {
    display: grid;
    gap: var(--space-xl);
    place-content: center;
    padding: var(--space-sm);
    @media screen and (min-width: 540px) {
        padding: var(--space-lg);
    }
    @media screen and (min-width: 800px) {
        padding: var(--space-xl);
   }

    .container {
        margin: auto;
    }
}
$navbar-height: 3.25rem;

a {
    color: var(--text1);
    &:hover {
        @include hover-filter-light;
    }
}
legend {
    background-color: var(--surface3);
    padding: var(--space-xxs) var(--space-sm);
    @include elevation-2;

}
fieldset {
    padding: var(--space-xs);
    @include elevation-2;
    input {
        margin: var(--space-xs);
    }
    &:focus-within {
        background: var(--surface2);
        legend {
            background: var(--surface2);
        }
    }
}
.rad-shadow {
    box-shadow:
  0 3.3px 5px hsl(var(--surface-shadow) / calc(var(--shadow-strength) - 0.184)),
  0 11.2px 16.8px hsl(var(--surface-shadow) / calc(var(--shadow-strength) - 0.176)),
  0 50px 75px hsl(var(--surface-shadow) / var(--shadow-strength));
}
.navbar {
    height: 3.25rem;
    padding: var(--space-xxs) 0;
    margin: 0;
    width: 100%;
    top: 0;
    position: sticky;
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-content: center;
    border-radius: 0%;
    @include elevation-4;
   
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .navbar-start {
        padding-left: var(--space-xxs);
        align-items: stretch;
        display: flex;
    }
    .navbar-end {
        padding-right: var(--space-xxs);
        align-items: stretch;
        display: flex;
    }
    &-brand {
        @include primary;
        a {
            color: var(--on-primary);
        }
    }
    .navbar-items {
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        place-content: center;
        .link {
           text-align: center;
           border-radius: var(--br);
           padding: var(--space-xxs) var(--space-sm);
           margin: var(--space-xxs);
           @include hover-brighten;
        }        
        .link:first-child {
            margin-left: var(--space-sm);
        }
        .link:last-child {
            margin-right: var(--space-sm);
        }
        .link.is-desktop {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
        @media screen and (max-width: 800px) {
            display: flex;
            justify-content: space-around;
            .link:first-child {
                margin-left: 0;
            }
            .link:last-child {
                margin-right: 0;
            }
        }
    }
}

input {
    border-radius: var(--br);
    padding: var(--space-xxs);
}

input[type="search"], input[type="text"] {
    background-color: transparent;
    color: var(--text2);
}
::placeholder {
    color: var(--placeholder-text);
}
input:focus {
    outline: none;
}
select {
    width: 100%;
    height: 3rem;
    margin: var(--space-sm) 0;
}
.link {
    display: inline-block;
}
// source: https://codepen.io/piccalilli/pen/Vxpjvo;
.button {
    display: inline-block;
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: var(--br);
    padding: var(--space-xxs) var(--space-sm);
    margin: var(--space-xxs);
    @include surface3;
    border-color: var(--surface4);
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover{
        box-shadow: 0px 0px 0px 1px var(--surface4);
        @include hover-brighten;
    }

    &:active {
        transform: scale(0.99);
    }
    &.circle {
        display: flex;
        max-width: 2em;
        border-radius: 50%;
        background-color: transparent;
        text-align: center;
        justify-content: center;
        padding: 0;
        border: none;
        @include elevation-2;
        span {
            width: 1rem;
            padding: 0.125;
            font-size: 1rem;
            position: relative;
        }
    }
    &-outlined {
        border-style: solid;
        border-width: 1px;
        border-color: CanvasText;
        background-color: transparent;
        color: var(--text1);
       &:hover {
           @include hover-brighten;
       }
    }
    &-raised {
        border: none;
        background-color: transparent;
        @include elevation-2;
        &:hover{
            @include elevation-2;
            @include surface2;
        }
    }
}
@mixin styled-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0.5em;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--shadow-3);
        opacity: 0.2;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--surface4);
        outline: 0.25rem var(--surface4);
      }
}
.card {
    h3 {
        margin: 0;
    }
    .card-header {
        @include elevation-2;
        padding: var(--space-xxs) var(--space-sm);
    }
    .card-content {
        display: flex;
        flex-direction: column;
    }
    .card-text {
        border: 1px solid var(--surface4);
        margin: var(--space-xxs) 0;
        padding: 0 var(--space-sm);
        max-height: 8rem;
       @include styled-scrollbar;
    }

    .card-footer {
        margin-top: var(--space-xs);
         * {
            width: 100%;
        }
    }
    figure{
        display: flex;
        justify-content: center;
    }
    .visual {
        height: 8rem;
        min-height: 100px;
        min-width: var(--min-card-width);
        object-fit: contain;
    }
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.cards-group {
    display: grid;
    gap: 1.25rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));
}
